 # Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 ***Objectives: To learn about markdown and basic codes***
 The topics are listed below
 - Inserting markdown cells
 - Listing ordered and unordered the languages, tools
 - tables
 - basic arithmatic
 - expressions

## Author
SINDHUJA

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Go

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. seaborn

|Data Science Tools|
|-------------------|
|jupiter Notebook|
|R Studio|
|VS COde|

Below are a few examples of evaluating arithmetic expressions in Python.
1. 12+3
2. 34-2
3. 12*12
4. 45/5

In [2]:
 #This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
 #This will convert 200 minutes to hours by diving by 60.
hours = 200 / 60
print(hours)

3.3333333333333335